In [0]:
import pandas as pd
from datetime import datetime,timedelta
from google.colab import files

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Cleaning Movie List

In [0]:
df=pd.read_excel("/content/Movie_dataset_3subcategories.xlsx",sheet_name="All years combined")
#df_2019=df[df['Year']==2019][['Year','Opening','Date','Title','Unnamed: 4','Director','Cast','Studio (production house)','Subcategories']]
df_2019=df[['Year','Opening','Date','Title','Unnamed: 4','Director','Cast','Studio (production house)','Subcategories 1','Subcategories 2','Subcategories 3']]
df_2019=df_2019.rename(columns={"Unnamed: 4":"uni_code","Studio (production house)":"Studio"})
df_2019=df_2019[df_2019['uni_code']!=""]

In [0]:
df_2019.head()

   Year   Opening  Date  ... Subcategories 1 Subcategories 2 Subcategories 3
0  2018   October     5  ...               4               4               3
1  2019     March     8  ...               4               4               3
2  2019   January    11  ...               4               4               3
3  2018     March    23  ...               4               4               3
4  2018  February     9  ...               4               4               3

[5 rows x 11 columns]

In [0]:
#Creating the threshold datettime

df_2019['Month']=[datetime.strptime(x,"%B").month for x in df_2019['Opening']]

df_2019['Month']=df_2019['Month'].astype(str)
df_2019['Month']=["0"+ x if len(x)==1 else x for x in df_2019['Month']]
df_2019['Date']=df_2019['Date'].astype(str)
df_2019['Date']=["0"+ x if len(x)==1 else x for x in df_2019['Date']]

df_2019['Datef']=df_2019['Year'].astype(str)+"-"+df_2019['Month'].astype(str)+"-"+df_2019['Date'].astype(str)

df_2019['Datef']=[datetime.strptime(x,"%Y-%m-%d") for x in df_2019['Datef']]
df_2019['Threshold']=[x-timedelta(days=7) for x in df_2019['Datef']]
df_2019['lower_thres']=[x-timedelta(days=21) for x in df_2019['Datef']]
df_2019['Week']=[x.isocalendar()[1] for x in df_2019['Datef']]
del df_2019['Datef']
del df_2019['Month']
del df_2019['Year']

df_2019=df_2019.fillna("")

In [0]:
#parsing cast to list
df_2019['Cast']=[x+", " for x in df_2019['Cast']]
df_2019['Cast 1']=[x.split(",")[0] for x in df_2019['Cast']]
df_2019['Cast 1']=[x.lower() for x in df_2019['Cast 1']]
df_2019['Cast 1']=[x.strip() for x in df_2019['Cast 1']]

df_2019['Cast 2']=[x.split(",")[1] for x in df_2019['Cast']]
df_2019['Cast 2']=[x.lower() for x in df_2019['Cast 2']]
df_2019['Cast 2']=[x.strip() for x in df_2019['Cast 2']]

"""
#parsing studio name to list
df_2019['Studio']=[x.split(",") for x in df_2019['Studio']]
l_new=[]
for x in df_2019['Studio']:
  l_new.append([p.lstrip() for p in x])

df_2019['Studio']=l_new

#parsing directors to list
df_2019['Director']=[x.split(",") for x in df_2019['Director']]
l_new=[]
for x in df_2019['Director']:
  l_new.append([p.lstrip() for p in x])

df_2019['Director']=l_new
"""

'\n#parsing studio name to list\ndf_2019[\'Studio\']=[x.split(",") for x in df_2019[\'Studio\']]\nl_new=[]\nfor x in df_2019[\'Studio\']:\n  l_new.append([p.lstrip() for p in x])\n\ndf_2019[\'Studio\']=l_new\n\n#parsing directors to list\ndf_2019[\'Director\']=[x.split(",") for x in df_2019[\'Director\']]\nl_new=[]\nfor x in df_2019[\'Director\']:\n  l_new.append([p.lstrip() for p in x])\n\ndf_2019[\'Director\']=l_new\n'

In [0]:
df_2019.to_csv("all_celeaned_f4.csv")
files.download("all_celeaned_f4.csv")

##Developing Features

In [0]:
#installing required packages
pip install emot

Requirement already satisfied: emot in /usr/local/lib/python3.6/dist-packages (2.1)

In [0]:
#importing required libraries
import nltk.data
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('words')

import pandas as pd
import numpy as np
import scipy as sp
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.corpus import words
from itertools import combinations
import random as rd
from emot.emo_unicode import UNICODE_EMO, EMOTICONS
#from googletrans import Translator
from datetime import datetime
from nltk.stem import WordNetLemmatizer 
import ast
from scipy import sparse

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [0]:
parent_list=df_2019.copy()
L_zip =list(zip(parent_list['uni_code'],parent_list['Threshold'],parent_list['lower_thres']))

In [0]:
L_zip[0:10]

[('2iVYI99VGaw',
  Timestamp('2018-09-28 00:00:00'),
  Timestamp('2018-09-14 00:00:00')),
 ('mSlgu8AQAd4',
  Timestamp('2019-03-01 00:00:00'),
  Timestamp('2019-02-15 00:00:00')),
 ('VVY3do673Zc',
  Timestamp('2019-01-04 00:00:00'),
  Timestamp('2018-12-21 00:00:00')),
 ('nLSaCFlXn-g',
  Timestamp('2018-03-16 00:00:00'),
  Timestamp('2018-03-02 00:00:00')),
 ('-K9ujx8vO_A',
  Timestamp('2018-02-02 00:00:00'),
  Timestamp('2018-01-19 00:00:00')),
 ('x_7YlGv9u1g',
  Timestamp('2016-12-16 00:00:00'),
  Timestamp('2016-12-02 00:00:00')),
 ('unAljCZMQYw',
  Timestamp('2018-10-11 00:00:00'),
  Timestamp('2018-09-27 00:00:00')),
 ('q10nfS9V090',
  Timestamp('2019-08-08 00:00:00'),
  Timestamp('2019-07-25 00:00:00')),
 ('vb5xCMbMfZ0',
  Timestamp('2016-01-15 00:00:00'),
  Timestamp('2016-01-01 00:00:00')),
 ('veJ6ejMjzgE',
  Timestamp('2019-10-31 00:00:00'),
  Timestamp('2019-10-17 00:00:00'))]

### Utility Functions

In [0]:
#Declaring all necessary functions
setofwords = set(words.words())

#Convert emojis to text
def convert_emojis(text):
    for emot in UNICODE_EMO:
        text = text.replace(emot, " " + "_".join(UNICODE_EMO[emot].replace(",","").replace(":","").split()))
        #text = text.replace(emot,"")
    return text

#apply emoji convert & translate hindi to english
def convert_lang(x,date1,date2): 
  path="/content/drive/My Drive/project/allmovies/"+x+".csv"
  try:
    df=pd.read_csv(path,engine='python')
  except:
    df=pd.read_csv(path,engine='c')
  del df['Unnamed: 0']
  df=df.dropna()
  df['pub_dates']=[datetime.strptime(x.split("T")[0], "%Y-%m-%d") for x in df['pub_dates']]
  comments=df[(df['pub_dates']<date1) & (df['pub_dates']>date2)]['comments']
  comments=[convert_emojis(x) for x in comments]
  return comments

#remove punctuations, special characters and stop words from the text
def clean_comments(comment):
  # removing all non aplhabetic characters
  clean_comment=re.sub("[^a-zA-Z]+"," ",comment)

  #lowercase & split
  clean_comment = clean_comment.lower()
  clean_comment = clean_comment.split()

  #remove stop words & join
  from nltk.corpus import stopwords
  clean_comment = [w for w in clean_comment if not w in stopwords.words("english")]
  lemmatizer = WordNetLemmatizer()
  clean_comment=[lemmatizer.lemmatize(w) for w in clean_comment]
  clean_comment=[x for x in clean_comment if x in setofwords]
  clean_comment=" ".join( clean_comment)

  return clean_comment

#get words that have highest tfidf score
def get_topwords(cleaned_comments):
  print("getting_top_words")
  cv=CountVectorizer(max_features=5000)
  word_count_vector=cv.fit_transform(cleaned_comments)
  tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
  tfidf_transformer.fit(word_count_vector)
  df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"])
  df_idf=df_idf.sort_values(by=["idf_weights"],ascending=False).iloc[0:200]
  return list(df_idf.index)

#### Creating top 200 words for all movies combined

In [0]:
final_vectors = pd.DataFrame(columns=['videoId','top_words'])
L_ex=[]
i=0
cleaned_comm=[]
for x,date1,date2 in L_zip:
  print(i)
  try:
    proc_comments = convert_lang(x,date1,date2)
    print("cleaning now")
    cleaned_comments=[clean_comments(comment) for comment in proc_comments]
    cleaned_comm=cleaned_comm+[".".join(cleaned_comments)]
    i=i+1
  except:
    print("excepted")
    print(i)
    L_ex=L_ex+[i]
    i=i+1
    continue
  

vectorizer = CountVectorizer(analyzer = "word",tokenizer = None, preprocessor = None, stop_words = None,max_features = 200)
train_data_features = vectorizer.fit_transform(cleaned_comm)
X_counts=train_data_features.toarray()
transformer=TfidfTransformer(smooth_idf=False)
tfidf=transformer.fit_transform(X_counts)
X_tfidf=tfidf.toarray()
X_tfidf2=np.where(X_tfidf>0,1,X_tfidf)

0
cleaning now
1
cleaning now
2
cleaning now
3
cleaning now
4
cleaning now
5
cleaning now
6
cleaning now
7
cleaning now
8
cleaning now
9
cleaning now
10
cleaning now
11
cleaning now
12
cleaning now
13
cleaning now
14
cleaning now
15
cleaning now
16
cleaning now
17
cleaning now
18
cleaning now
19
cleaning now
20
cleaning now
21
cleaning now
22
cleaning now
23
cleaning now
24
cleaning now
25
cleaning now
26
cleaning now
27
cleaning now
28
cleaning now
29
cleaning now
30
cleaning now
31
cleaning now
32
cleaning now
33
cleaning now
34
cleaning now
35
cleaning now
36
cleaning now
37
cleaning now
38
cleaning now
39
cleaning now
40
cleaning now
41
cleaning now
42
cleaning now
43
cleaning now
44
cleaning now
45
cleaning now
46
cleaning now
47
cleaning now
48
cleaning now
49
cleaning now
50
cleaning now
51
cleaning now
52
cleaning now
53
cleaning now
54
cleaning now
55
cleaning now
56
cleaning now
57
cleaning now
58
cleaning now
59
cleaning now
60
cleaning now
61
cleaning now
62
cleaning now
63
cleaning now
64
cleaning now
65
cleaning now
66
cleaning now
67
cleaning now
68
cleaning now
69
cleaning now
70
cleaning now
71
cleaning now
72
cleaning now
73
cleaning now
74
cleaning now
75
cleaning now
76
cleaning now
77
cleaning now
78
cleaning now
79
cleaning now
80
cleaning now
81
cleaning now
82
cleaning now
83
cleaning now
84
cleaning now
85
cleaning now
86
cleaning now
87
cleaning now
88
cleaning now
89
cleaning now
90
cleaning now
91
cleaning now
92
cleaning now
93
cleaning now
94
cleaning now
95
cleaning now
96
cleaning now
97
cleaning now
98
cleaning now
99
cleaning now
100
cleaning now
101
cleaning now
102
cleaning now
103
cleaning now
104
cleaning now
105
cleaning now
106
cleaning now
107
cleaning now
108
cleaning now
109
cleaning now
110
cleaning now
111
cleaning now
112
cleaning now
113
excepted
113
114
cleaning now
115
cleaning now
116
cleaning now
117
cleaning now
118
cleaning now
119
cleaning now
120
cleaning now
121
cleaning now
122
cleaning now
123
cleaning now
124
cleaning now
125
excepted
125
126
cleaning now
127
cleaning now
128
cleaning now
129
cleaning now
130
cleaning now
131
cleaning now
132
cleaning now
133
excepted
133
134
cleaning now
135
cleaning now
136
cleaning now
137
cleaning now
138
excepted
138
139
cleaning now
140
cleaning now
141
cleaning now
142
cleaning now
143
cleaning now
144
cleaning now
145
cleaning now
146
cleaning now
147
excepted
147
148
cleaning now
149
excepted
149
150
cleaning now
151
cleaning now
152
excepted
152
153
cleaning now
154
cleaning now
155
cleaning now
156
cleaning now
157
cleaning now
158
cleaning now
159
cleaning now
160
cleaning now
161
cleaning now
162
cleaning now
163
cleaning now
164
cleaning now
165
cleaning now
166
cleaning now
167
excepted
167
168
cleaning now
169
excepted
169
170
cleaning now
171
cleaning now
172
cleaning now
173
cleaning now
174
cleaning now
175
cleaning now
176
cleaning now
177
cleaning now
178
cleaning now
179
cleaning now
180
cleaning now
181
cleaning now
182
cleaning now
183
cleaning now
184
cleaning now
185
cleaning now
186
cleaning now
187
cleaning now
188
cleaning now
189
cleaning now
190
cleaning now
191
excepted
191
192
cleaning now
193
cleaning now
194
cleaning now
195
excepted
195
196
cleaning now
197
cleaning now
198
cleaning now
199
cleaning now
200
cleaning now
201
cleaning now
202
cleaning now
203
cleaning now
204
cleaning now
205
cleaning now
206
cleaning now
207
cleaning now
208
excepted
208
209
cleaning now
210
cleaning now
211
cleaning now
212
cleaning now
213
cleaning now
214
cleaning now
215
cleaning now
216
cleaning now
217
cleaning now
218
cleaning now
219
cleaning now
220
cleaning now
221
cleaning now
222
cleaning now
223
cleaning now
224
cleaning now
225
cleaning now
226
cleaning now
227
cleaning now
228
cleaning now
229
cleaning now
230
cleaning now
231
cleaning now
232
cleaning now
233
cleaning now
234
cleaning now
235
cleaning now
236
cleaning now
237
cleaning now
238
cleaning now
239
cleaning now
240
cleaning now
241
cleaning now
242
cleaning now
243
cleaning now
244
cleaning now
245
cleaning now
246
cleaning now
247
cleaning now
248
cleaning now
249
cleaning now
250
cleaning now
251
cleaning now
252
cleaning now
253
cleaning now
254
cleaning now
255
cleaning now
256
cleaning now
257
cleaning now
258
cleaning now
259
cleaning now
260
cleaning now
261
cleaning now
262
cleaning now
263
cleaning now
264
cleaning now
265
cleaning now
266
cleaning now
267
cleaning now
268
cleaning now
269
cleaning now
270
cleaning now
271
cleaning now
272
cleaning now
273
cleaning now
274
cleaning now
275
cleaning now
276
cleaning now
277
cleaning now
278
cleaning now
279
cleaning now
280
cleaning now
281
cleaning now
282
cleaning now
283
cleaning now
284
cleaning now
285
cleaning now
286
cleaning now
287
cleaning now
288
cleaning now
289
cleaning now
290
cleaning now
291
cleaning now
292
cleaning now
293
cleaning now
294
cleaning now
295
cleaning now
296
cleaning now
297
cleaning now
298
cleaning now
299
cleaning now
300
cleaning now
301
cleaning now
302
cleaning now
303
cleaning now
304
cleaning now
305
cleaning now
306
cleaning now
307
cleaning now
308
cleaning now
309
cleaning now
310
cleaning now
311
cleaning now
312
cleaning now
313
cleaning now
314
cleaning now
315
cleaning now
316
cleaning now
317
cleaning now
318
cleaning now
319
cleaning now
320
cleaning now
321
cleaning now
322
cleaning now
323
cleaning now
324
cleaning now
325
cleaning now
326
cleaning now
327
cleaning now
328
cleaning now
329
cleaning now
330
cleaning now
331
cleaning now
332
cleaning now
333
cleaning now
334
cleaning now
335
cleaning now
336
cleaning now
337
cleaning now
338
cleaning now
339
cleaning now
340
cleaning now
341
cleaning now
342
cleaning now
343
cleaning now
344
cleaning now
345
cleaning now
346
cleaning now
347
cleaning now
348
cleaning now
349
cleaning now
350
cleaning now
351
cleaning now
352
cleaning now
353
cleaning now
354
cleaning now
355
cleaning now
356
cleaning now
357
cleaning now
358
cleaning now
359
cleaning now
360
cleaning now
361
cleaning now
362
cleaning now
363
excepted
363
364
excepted
364
365
cleaning now
366
cleaning now
367
cleaning now
368
cleaning now
369
cleaning now
370
cleaning now
371
cleaning now
372
cleaning now
373
cleaning now
374
cleaning now
375
cleaning now
376
cleaning now
377
cleaning now
378
cleaning now
379
excepted
379
380
cleaning now
381
cleaning now
382
cleaning now
383
cleaning now
384
cleaning now
385
cleaning now
386
cleaning now
387
excepted
387
388
cleaning now
389
cleaning now
390
excepted
390
391
cleaning now
392
cleaning now
393
cleaning now
394
cleaning now
395
cleaning now
396
excepted
396
397
cleaning now
398
excepted
398
399
cleaning now
400
cleaning now
401
cleaning now
402
cleaning now
403
cleaning now
404
cleaning now
405
cleaning now
406
cleaning now
407
excepted
407
408
cleaning now
409
excepted
409
410
cleaning now
411
cleaning now
412
cleaning now
413
cleaning now
414
excepted
414
415
cleaning now
416
cleaning now
417
excepted
417
418
cleaning now
419
cleaning now
420
cleaning now
421
cleaning now
422
cleaning now
423
excepted
423
424
cleaning now
425
cleaning now
426
excepted
426
427
cleaning now
428
cleaning now
429
cleaning now
430
cleaning now
431
cleaning now
432
cleaning now
433
excepted
433
434
cleaning now
435
cleaning now
436
excepted
436
437
excepted
437
438
excepted
438
439
cleaning now
440
cleaning now
441
cleaning now
442
cleaning now
443
cleaning now
444
cleaning now
445
excepted
445
446
cleaning now
447
cleaning now
448
cleaning now
449
cleaning now

In [0]:
vectorizer = CountVectorizer(analyzer = "word",tokenizer = None, preprocessor = None, stop_words = None,max_features = 700)
train_data_features = vectorizer.fit_transform(cleaned_comm)
X_counts=train_data_features.toarray()
transformer=TfidfTransformer(smooth_idf=False)
tfidf=transformer.fit_transform(X_counts)
X_tfidf=tfidf.toarray()
X_tfidf2=np.where(X_tfidf>0,1,X_tfidf)

In [0]:
dump=pd.DataFrame()
dump['dumpf4']=cleaned_comm
dump.to_csv("dump_f4_final.csv")
#files.download("dump_f4.csv")

In [0]:
files.download("dump_f4_final.csv")

In [0]:
f=open('f1.txt','w')
for ele in L_ex:
    f.write(str(ele)+'\n')

f.close()

In [0]:
files.download("f1.txt
")

In [0]:
"""
dump=pd.read_csv("/content/dump_f4 (1).csv")
dump=dump.fillna("")
cleaned_comm=list(dump['dumpf4'])
"""

In [0]:
for_tensor=df_2019.copy()
for_tensor=for_tensor.drop(index=L_ex)
#the following are needed when read from csv directly
#for_tensor['Cast']=[ast.literal_eval(x) for x in for_tensor['Cast']]
#for_tensor['Studio']=[ast.literal_eval(x) for x in for_tensor['Studio']]
#for_tensor['Director']=[ast.literal_eval(x) for x in for_tensor['Director']]
for_tensor.head()

    Opening Date  ...            Cast 1         Cast 2
0   October   05  ...  ayushman khurana           tabu
1     March   08  ...  amitabh bachchan  taapsee pannu
2   January   11  ...     vicky kaushal    mohit raina
3     March   23  ...      rani mukerji
4  February   09  ...      akshay kumar   sonam kapoor

[5 rows x 15 columns]

In [0]:
df_cast=pd.read_csv("/content/actor-cat.csv")

In [0]:
keys=list(df_cast['Cast'])
keys=keys+[""]
vals=list(df_cast['category'])
vals=vals+[0]
dict_cov=dict(zip(keys,vals))

In [0]:
for_t2=for_tensor.copy()

In [0]:
for_t2['Cast 1s']=[dict_cov[x] for x in for_t2['Cast 1']]
for_t2['Cast 2s']=[dict_cov[x] for x in for_t2['Cast 2']]
for_t2.head()
for_t3=for_t2[['Title', 'uni_code']]

In [0]:
d={1: [0]*len(for_t2),2: [0]*len(for_t2),3: [0]*len(for_t2),4: [0]*len(for_t2),0: [0]*len(for_t2)}

#print(d)
for i in range(0,len(for_t2)):
  #print(i)
  k1=for_t2['Cast 1s'].iloc[i]
  k2=for_t2['Cast 2s'].iloc[i]
  #print(d[k1][i])
  d[k1][i]=d[k1][i]+1
  d[k2][i]=d[k2][i]+1
  #d[for_t2['Cast 2s'].iloc[i]][i]=d[for_t2['Cast 2s'].iloc[i]][i]+1
  #print(d)


for_t3['a_cat1']=d[1]
for_t3['a_cat2']=d[2]
for_t3['a_cat3']=d[3]
for_t3['a_cat4']=d[4]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
for_t2.head()

    Opening Date                     Title  ... a_cat2 a_cat3 a_cat4
0   October   05                 Andhadhun  ...      1      0      1
1     March   08                     Badla  ...      1      0      0
2   January   11  Uri: The Surgical Strike  ...      0      1      1
3     March   23                    Hichki  ...      1      0      0
4  February   09                   Pad Man  ...      0      0      0

[5 rows x 21 columns]

In [0]:
d_cal={}
for i in range(1,53):
  d_cal.update({i:[0]*len(for_t2)})

In [0]:
for i in range(0,len(for_t2)):
  #print(i)
  k=for_t2['Week'].iloc[i]
  #print(d[k1][i])
  d_cal[k][i]=d_cal[k][i]+1
  #d[k2][i]=d[k2][i]+1
  #d[for_t2['Cast 2s'].iloc[i]][i]=d[for_t2['Cast 2s'].iloc[i]][i]+1
  #print(d)

for i in range(1,53):
  name="Week "+str(i)
  for_t3[name]=d_cal[i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [0]:
for_t3.head()
del for_t3['Title']
del for_t3['uni_code']

In [0]:
for_tensor['Cast 1']=[dict_cov[x] for x in for_tensor['Cast 1']]
for_tensor['Cast 2']=[dict_cov[x] for x in for_tensor['Cast 2']]
for_tensor['Cast score']=for_tensor['Cast 1']+for_tensor['Cast 2']

In [0]:
for_mat=for_tensor[['Cast score','Week']]
for_mat=for_mat.to_numpy()

In [0]:
for_mat2=for_t3.to_numpy()

In [0]:
s_t=np.concatenate((X_tfidf2,for_mat2),axis=1)

In [0]:
X_tfidf2.shape

(420, 700)

In [0]:
cat_result1 = np.array(for_tensor['Subcategories 1'])
cat_result2 = np.array(for_tensor['Subcategories 2'])
cat_result3 = np.array(for_tensor['Subcategories 3'])
#org_mat = mat.toarray()
org_mat_df = pd.DataFrame(data=s_t, columns=['c'+str(i) for i in range(s_t.shape[1])])
org_mat_df.to_csv("/content/drive/My Drive/project/Results/F4_model_data_700_catex.csv")
cat_result_df1 = pd.DataFrame({'t': cat_result1})
cat_result_df1.to_csv("/content/drive/My Drive/project/Results/F4_model_data_target_1.csv")
cat_result_df2 = pd.DataFrame({'t': cat_result2})
cat_result_df2.to_csv("/content/drive/My Drive/project/Results/F4_model_data_target_2.csv")
cat_result_df3 = pd.DataFrame({'t': cat_result3})
cat_result_df3.to_csv("/content/drive/My Drive/project/Results/F4_model_data_target_3.csv")